<h1 style="text-align: center;" class="font text-danger">   Diathermy    </h1>
<form class="container text form-group">

<div>
            <label class="label" for="countryOForigin">
                Country of origin: 
            </label>
            <select name="countryOForigin" 
            [(ngModel)]="countryOfOrigin">  
            <option *ngFor="let Country of countriesArray">{{Country}} </option>  
        </select>   
</div>

<div >
        <label class="label" for="devicePolarity">
            Device Polarity: 
        </label>
        <div name="devicePolarity">
            <div>
               <input id="mono" name="Polarity" type="radio"  (change)="onPolarityChange('mono')" >
               <label class="radioLabel"  for="mono">Mono</label>
            </div>
         
            <div>
               <input id="bi" name="Polarity" type="radio" (change)="onPolarityChange('bi')" >
               <label class="radioLabel"for="bi">Bi</label>
            </div>
        </div>
</div>           



<div >
        <label class="label" for="deviceCompatibility">
            Device Compatibility: 
        </label>
    <div name="deviceCompatibility">
        <div>
            <input id="Open" name="Compatibility" type="radio" (change)="onCompatibilitychange('Open')" >
            <label class="radioLabel"  for="Open">Open</label>
         </div>
      
         <div>
            <input id="Compatible" name="Compatibility" type="radio" (change)="onCompatibilitychange('Compatible')" >
            <label class="radioLabel"for="Compatible">Compatible</label>
         </div>
         <div>
            <input  id="Both" name="Compatibility" type="radio" (change)="onCompatibilitychange('Both')" >
            <label class="radioLabel"  for="Both">Both</label>
         </div>
    </div>
</div>


<div >
        <label for="deviceAlarms">
            Device Alarms: 
        </label>
    <div name="deviceAlarms">
        <div>
                <input id="Audiable"  name="Alarms" type="radio" (change)="onAlarmchange('Audiable')" >
                <label class="radioLabel"  for="Audiable">Audiable</label>
             </div>
          
             <div>
                <input id="Visual" name="Alarms" type="radio" (change)="onAlarmchange('Visual')" >
                <label class="radioLabel"for="Visual">Visual</label>
             </div>
             <div>
                <input  id="both" name="Alarms" type="radio" (change)="onAlarmchange('Both')" >
                <label class="radioLabel"  for="both">Both</label>
       </div>
    </div>  
</div>

<div >
        <label for="deviceMaxpowerRange">
            Device Maximum Range Monopolar cut power: 
        </label>
        <div name="deviceMaxpowerRange" class="slidecontainer">
            <input type="range" min="200" max="400" value="300" (change)="powerRangeChange(RangeValue.value)" class="slider" id="myRange" #RangeValue>
            <p>Value: <span id="demo">{{PowerRange}}</span></p>
        </div>
</div>

<div >
        <label for="deviceCoagPower">
            Device Mono polar coagulation power: 
        </label>
        <div class="slidecontainer">
                <input type="range" min="20" max="100" value="60" (change)="powerCoagulationRangeChange(CogRangeValue.value)" class="slider" id="myCogRange" #CogRangeValue>
                <p>Value: <span id="demo">{{CogPowerRange}}</span></p>
        </div>
</div>
<div >
        <label for="deviceCoagPower">
            Deadline Date: 
        </label>
        <div class="slidecontainer">
                <input  [(ngModel)]="myDeadDate" type="date" name="bday">

        </div>
</div>


  <div>
        <label class="label" for="FDA">
                FDA Certified: 
        </label>
        <div name="FDA">
            <div>
               <input id="Certified" name="FDACertified" type="radio"  (change)="onFDAChange(true)" >
               <label class="radioLabel"  for="Certified">Certified</label>
            </div>
         
            <div>
               <input id="NotCertified" name="FDACertified" type="radio" (change)="onFDAChange(false)" >
               <label class="radioLabel"for="NotCertified">NotCertified</label>
            </div> 
        
        </div>
</div> 

<button (click)="Submit()" class="btn-lg btn btn-primary">Submit</button>



<!--   

      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="radio" aria-label="Radio button for following text input">
                       Have return electrode contact safty
          </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with radio button">
      </div>

    <button class="btn btn-primary"> Submit</button>--> 
</form>

