<h1 style="text-align: center; color: brown">   Ultrasound    </h1>
<form class="container text">
    
    
    <div class="dropdown">
        <button class="btn bg-primary dropbtn">Ultrasound</button>
        <div class="dropdown-content" *ngFor="let device">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        </div>
      </div>

 <!--   <div class= "form-group">
            <label for="countryOForigin">
                Country of origin
            </label>
            <input required  
            name= "countryOForigin" 
            id="countryOForigin" 
            type= "text" 
            class="form-control">
            <div
               class="alert alert-danger"
            >
               <div>
                   Countr of origin is required.
               </div>
            </div>
        </div>

        <div 
        class= "center"
        class= "form-group">
        <label for="devicePolarity">
            Device Polarity
        </label>
        <input required 
        name= "devicePolarity" 
        id="devicePolarity" 
        type= "text" 
        class="form-control">
        <div
           class="alert alert-danger"
           >
           <div>
               Device Polarity is required.
           </div>
        </div>
    </div>
    <div 
        class= "center"
        class= "form-group">
        <label for="deviceCompatibility">
            Device Compatibility
        </label>
        <input required 
        name= "deviceCompatibility" 
        id="deviceCompatibility" 
        type= "text" 
        class="form-control">
        <div
           class="alert alert-danger"
           >
           <div>
               Device Compatibility is required.
           </div>
        </div>
    </div>

    <div 
        class= "center"
        class= "form-group">
        <label for="deviceAlarms">
            Device Alarms
        </label>
        <input required 
        name= "deviceAlarms" 
        id="deviceAlarms" 
        type= "text" 
        class="form-control">
        <div
           class="alert alert-danger"
           >
           <div>
               Device Alarms is required.
           </div>
        </div>
    </div>

    <div 
        class= "center"
        class= "form-group">
        <label for="deviceMaxpowerRange">
            Device Maximum Range Monopolar cut power
        </label>
        <input required 
        name= "deviceMaxpowerRange" 
        id="deviceMaxpowerRange" 
        type= "text" 
        class="form-control">
        <div
           class="alert alert-danger"
           >
           <div>
               This field is required.
           </div>
        </div>
    </div>

    <div 
        class= "center"
        class= "form-group">
        <label for="deviceCoagPower">
            Device Mono polar coagulation power
        </label>
        <input required 
        name= "deviceCoagPower" 
        id="deviceCoagPower" 
        type= "text" 
        class="form-control">
        <div
           class="alert alert-danger"
           >
           <div>
                This field is required.
            </div>
        </div>
    </div>

    <div 
        class= "center"
        class= "form-group">
        <label for="deviceAccessories">
            Device Accessories
        </label>
        <input required 
        name= "deviceAccessories" 
        id="deviceAccessories" 
        type= "text" 
        class="form-control">
        <div
           class="alert alert-danger"
           >
           <div>
               Device Accessories is required.
           </div>
        </div>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="radio" aria-label="Radio button for following text input">
                       FDA Certified
          </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with radio button">
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="radio" aria-label="Radio button for following text input">
                       Have return electrode contact safty
          </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with radio button">
      </div>
-->
    <button class="btn btn-primary"> Submit</button>
</form>

