<h1 style="text-align: center;" class="font text-danger">   Ultrasound    </h1>
<form class="container text form-group">

<div>
            <label class="label" for="countryOForigin">
                Country of origin: 
            </label>
            <select name="countryOForigin" 
            [(ngModel)]="countryOfOrigin">  
            <option *ngFor="let Country of countriesArray">{{Country}} </option>  
        </select>   
</div>

<div >
    <label class="container" class="list-group"> 
        <label class="label" for="PhysicalandErgonomicFeatures">
                    Physical and Ergonomic Features:
        </label>
        <li  class="list-group-item" *ngFor="let feature of PhysicalandErgonomicFeaturesArray">
                 <input  class="radioLabel" name="PhysicalandErgonomicFeatures"  type="checkbox"  
                     (change)="onFeatureSelection($event.target.checked,feature)"
                     >{{feature}}                    
        </li>
    </label>
</div>  

 


<div >
        <label class="list-group container"> 
            <label class="label" for="ScanModes">
                       Scan Modes:
            </label>
            <li class="list-group-item" *ngFor="let mode of ScanModesArray">
                     <input class="radioLabel" name="ScanModes"  type="checkbox"  
                         (change)="onFScanModesSelection($event.target.checked,mode)"
                         >{{mode}}                    
            </li>
        </label>
    </div>  


<div >
        <label class="label" for="probs">
            Device Probs: 
        </label>
        <div name="probs">
            <div>
               <input id="Convex" name="Convex" type="radio"  (change)="onProbsChange('Convex')" >
               <label class="radioLabel"  for="Convex">Convex</label>
            </div>
         
            <div>
               <input id="TransVaginal" name="TransVaginal" type="radio" (change)="onProbsChange('TransVaginal')" >
               <label class="radioLabel"for="TransVaginal">Trans Vaginal</label>
            </div>
        </div>
</div>           

<div >
        <label class="label" for="deviceCoagPower">
            Deadline Date: 
        </label>
        <div class="slidecontainer">
                <input  [(ngModel)]="myDeadDate" type="date" name="bday">

        </div>
</div>


  <div >
        <label class="label" for="FDA">
                FDA Certified: 
        </label>
        <div name="FDA">
            <div>
               <input id="Certified" name="FDACertified" type="radio"  (change)="onFDAChange(true)" >
               <label class="radioLabel"  for="Certified">Certified</label>
            </div>
         
            <div>
               <input id="NotCertified" name="FDACertified" type="radio" (change)="onFDAChange(false)" >
               <label class="radioLabel"for="NotCertified">NotCertified</label>
            </div> 
        
        </div>
</div> 

<button (click)="Submit()" class="boton btn-lg btn btn-primary">Submit</button>


</form>

