<div class="profile-frame">
    
        <div class="container-fluid">
        <div class="row ">
        
            <div class="col-md-3 col-sm-12  align-self-sm-center ">
                    <img class="rounded-circle circle " src="assets/login_pics/hospital.png">
            </div>
            <div class="col-md-9 col-sm-12 align-self-center">
                <h1 class="text-center profile-headline">Hospital Profile</h1>
        
            </div>
            
            
        </div>
        <div class="row">
            <div class="col-md-2 clo-sm-0">
        
            </div>
                <div class="col-md-10  col-sm-12">
            <div class="profile-user-info">
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Username </div>
        
                        <div class="profile-info-value">
                            <span>{{Object.name}}</span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> ID </div>
        
                        <div class="profile-info-value">
                            <span>{{Object.id}}</span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Email </div>
        
                        <div class="profile-info-value">
                            <i class="fa fa-map-marker light-orange bigger-110"></i>
                            <span>{{Object.email}}</span>
                            
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Location </div>
        
                        <div class="profile-info-value">
                            <i class="fa fa-map-marker light-orange bigger-110"></i>
                            <span>Netherlands</span>
                            <span>Amsterdam</span>
                        </div>
                    </div>
        
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Joined </div>
        
                        <div class="profile-info-value">
                            <span>2010/06/20</span>
                        </div>
                    </div>
        
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Last Online </div>
        
                        <div class="profile-info-value">
                            <span>3 hours ago</span>
                        </div>
                    </div>
                </div>
                    
            </div>
        
        
        
        
        
        </div>
        </div>
        
        </div>
        
