<header class="main_menu_area">
        <nav class="navbar navbar-expand-lg nav-color ">
            <a class="navbar-brand " id="nav-img" href="#"><img src="assets/login_pics/MEET02.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ">
                    <li class="nav-item" routerLinkActive="active current"><a class="nav-link" routerLink="hospital/profile" >Profile</a></li>
                    <li class="nav-item"><a class="nav-link" routerLinkActive="active current" routerLink="hospital/new-tender">New Tender</a></li>
                    <li class="nav-item"><a class="nav-link" routerLinkActive="active current" routerLink="hospital/tenders">Tenders</a></li>
                    
                    
                </ul>
            </div>
            <div class="logout">
                <app-logout ></app-logout>
            </div>
        </nav>
        
    </header>
    <router-outlet ></router-outlet>
    
