<div class="container-fluid">

    <div class="row justify-content-lg-center" >
        <div (click)="sendTender(item)" class="profile-frame col-lg-5" *ngFor="let item of SubscriptionList;">
            <h4 class="Tender-headline"> Tender for {{item.Device_Name}} </h4>
            <div class="profile-info-row">
                    <div class="profile-info-name">Device-Name</div>
    
                    <div class="profile-info-value">
                        <span>{{item.Device_Name}}</span>
                    </div>
                </div>
                <div class="profile-info-row">
                        <div class="profile-info-name">Tender-Type</div>
        
                        <div class="profile-info-value">
                            <span *ngIf="item.Direct_Process">{{item.Direct_Process}}</span>
                            <span *ngIf="item.Open_Process">{{item.Open_Process}}</span>
                        </div>
                    </div>
                <div class="profile-info-row">
                        <div class="profile-info-name">Start_Date</div>
        
                        <div class="profile-info-value">
                            <span>{{item.startDate}}</span>
                        </div>
                    </div>
                <div class="profile-info-row">
                                <div class="profile-info-name">Deadline</div>
                
                                <div class="profile-info-value">
                                    <span>{{item.deadlineDate}}</span>
                                </div>
                            </div>        

                
        </div>
    </div>
</div>


