<div *ngIf="deviceName==='MRI'">{{deviceName}}</div>
<div *ngIf="deviceName==='Ventilator'">{{deviceName}}</div>
<app-diathermy-file *ngIf="deviceName==='Diathermy'" [Tender]="TenderData">{{deviceName}}</app-diathermy-file>
<app-ultrasound-file *ngIf="deviceName==='Ultrasound'" [Tender]="TenderData">{{deviceName}}</app-ultrasound-file>



















<!-- <div class="container-fluid" >
    <div class="row">
        <div class="col-1"></div>
        <div class=" col-10 tender-frame" >
            <div class="file" *ngFor="let item of trialfile">    
            <span >
                    Hello {{item}} {{tenderfile_id.tenderid}}

            </span>
            <div class="checks">
                     -->

               <!-- Default inline 1-->
                <!-- <div class="custom-control custom-radio custom-control-inline">
                <input type="checkbox" id="defaultInline1" name="inlineDefaultRadiosExample" (change)="checkBox()" >
                <label class="radioLabel" for="defaultInline1">exist</label>
                </div> -->

                <!-- Default inline 2-->
                <!-- <div class="custom-control custom-radio custom-control-inline">
                <input type="checkbox" id="defaultInline1" name="inlineDefaultRadiosExample"  >
                <label class="radioLabel" for="defaultInline2">not exist</label>
                </div>
            </div>
               
            </div>
            <button (click)="AddCompanySubscribtion()" type="button" class="btn btn-danger">Subscribe</button>
        </div>
        <div class="col-1">
            
        </div>
    </div>
</div> -->
